HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### MAC ###
.DS_Store

python/apikey

python/__pycache__/classes.cpython-37.pyc

python/__pycache__/genres.cpython-37.pyc

python/__pycache__/genres.cpython-36.pyc

python/__pycache__/classes.cpython-36.pyc
