<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Legends of Runeterra Deck Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Your Deck</h1>
        </div>
        <div id="body">
            <p th:utext="${deck.generateRandomDeck()}">DECK HERE</p>
            <div class="back">
                <p>
                    <a href="/">Back</a>
                </p>
            </div>

        </div>
        <div id="footer">
            <footer>
                <p>"Legends of Runeterra Deck Generator" isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games
                    or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are
                    trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
            </footer>
        </div>
    </div>
</body>

</html>