<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Legends of Runeterra Deck Generator</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Legends of Runeterra Deck Generator</h1>
            <h3>by Studio Gaffers</h3>
        </div>
        <div id="body">
            <p><b>Specify different genres and generate a random deck from those genres! Made for the Legends of Runeterra card game.</b></p>
			<p>What's a genre? A genre is just something used to bias the randomness of the deck; for example, if I want a deck with many "ephemeral" cards, more cards in the first region, and low cost unit cards. The genres would be keywords, regions, cost, and type!</p><br><br>
			<p>Import an unfinished deck and work from there, or create a whole deck from scratch!</p>
			<br>
			<p>The code supports both of those things and many different genres, but we don't know how to front end and accept user input so this will just randomly generate 10 decks with random genres.</p>
            <form action="#" th:action="@{/deck}" th:object="${deck}" method="post">
                <input type="submit" value="Generate 10 Random Decks" />
            </form>

        </div>
        <div id="footer">
            <footer>
                <p>"Legends of Runeterra Deck Generator" isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games
                    or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are
                    trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
            </footer>
        </div>
    </div>
</body>

</html>